{% extends 'base.html'%} 

{% block content %}

{% load static %}

<div class= "about-div">

    <h2 class="about-div-top-h2">About me!</h2>
    <div class="about-div-top">
       
        <div class="about-div-top-img" style="background-image: url('{{about_model_items.about_image.url}}');"></div>
        <div class="about-div-top-p">
            <p>{{about_model_items.about_me}}</p>
        </div>
    </div>
    <h2 class="about-div-top-h2">Photo Galery</h2>
    <div class="about-div-bottom">
        <!-- class="about-div-bottom-img"  -->
        <a href="{{about_model_items.image_1.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_1.url}}"></a>
        <a href="{{about_model_items.image_2.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_2.url}}"></a>
        <a href="{{about_model_items.image_3.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_3.url}}"></a>
        <a href="{{about_model_items.image_4.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_4.url}}"></a>
        <a href="{{about_model_items.image_5.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_5.url}}"></a>
        <a href="{{about_model_items.image_6.url}}"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="{{about_model_items.image_6.url}}"></a>

    
    </div>

    </div>
   
  

</div>

{% endblock %}