{% extends 'base.html'%} 

{% block content %}

{% load static %}

<div class= "about-div">

    <h2 class="about-div-top-h2">About me!</h2>
    <div class="about-div-top">
       
        <div class="about-div-top-img" style="background-image: url(static/images/img/halil_main.jpeg);"></div>
        <div class="about-div-top-p">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <h2 class="about-div-top-h2">Photo Galery</h2>
    <div class="about-div-bottom">
        <!-- class="about-div-bottom-img"  -->
        <a href="static/images/img/portfolio/01-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/01-full.jpg"></a>
        <a href="static/images/img/portfolio/02-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/02-full.jpg"></a>
        <a href="static/images/img/portfolio/03-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/03-full.jpg"></a>
        <a href="static/images/img/portfolio/04-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/04-full.jpg"></a>
        <a href="static/images/img/portfolio/05-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/05-full.jpg"></a>
        <a href="static/images/img/portfolio/06-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/06-full.jpg"></a>
        <a href="static/images/img/portfolio/03-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/03-full.jpg"></a>
        <a href="static/images/img/portfolio/04-full.jpg"  data-lightbox="image-1" data-title="My caption" ><img class="about-div-bottom-img" src="static/images/img/portfolio/04-full.jpg"></a>
    
    </div>

    </div>
   
  

</div>

{% endblock %}