{% extends 'base.html'%} 
{%load static%}
{% block content %}

    <div class="div-home">
        <div class="div-home-left">
            <div class="div-home-left-text_container">
                <p>Hello</p>
                <p> I' am Halil.</p>
                <p> I am Entreprenuer, Politician and Bussinesman.</p>
            </div>
        </div>
        <div class="div-home-right" style="background-image: url('static/images/img/halil_main.jpeg');">
            
        </div>

    </div>

    <!-- <div class="col img-fluid home-page-img" style="background-image: url()"  >
    </div> -->


{% endblock %}