{% extends 'base.html'%} 
{%load static%}
{% block content %}

    <div class="div-home">
        <div class="div-home-left">
            <div class="div-home-left-text_container">
        
                <p>{{ home_page_items.hello_message }}</p>
                <p> {{ home_page_items.i_message}}.</p>
                <p> {{ home_page_items.my_message }}</p>
            </div>
        </div>
        <div class="div-home-right" style="background-image: url(' {{ home_page_items.main_image.url }}');">
            
        </div>

    </div>

    <!-- <div class="col img-fluid home-page-img" style="background-image: url()"  >
    </div> -->


{% endblock %}