{% extends 'base.html'%} 

{% block content %}

{% load static %}

<div class="post-detail-div">
    <div class="post-detail-div-left">
        <div class="post-detail-left-header">
            <h2 class="post-detail-left-header-h2"> The Future of  Technology</h2>  
        </div>
        <div class="post-detail-left-body-top">
            <div class="post-detail-left-body-top-img" style="background-image: url(static/images/img/halil_main.jpeg);"></div>
            <p class="post-detail-left-body-top-p">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                <br>
                <br>
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, 
                
            </p>
        </div>
      
    <div class="post-detail-left-body-bottom">
        <div class="post-detail-left-body-top">
            <div class="post-detail-left-body-top-img" style="background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/418e5cfcbc765e8a82aafffd/pexels-photo-2008426.jpeg?version=);"></div>
            <p class="post-detail-left-body-top-p" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                <br>
                <br>
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>



    </div>
    <div class="post-detail-div-right">
        <div class="post-detail-div-right-img" style="background-image: url(static/images/img/halil_main.jpeg);"></div>
        <p class="post-detail-div-right-p">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        <div class="post-detail-div-right-look-for">
            <form action="" class="post-detail-div-right-look-for-form">
                <input placeholder="Search in blog!" class="post-detail-div-right-look-for-form-input">
                <button class="post-detail-div-right-look-for-form-button">Go</button>
            </form>
        </div>
        <div class="post-detail-div-right-topics">
            <div class="post-detail-div-right-topics-head">Topics</div>
            <div class="post-detail-div-right-topics-list">
                <div class="post-detail-div-right-topics-list-item">Fashion</div>
                <div class="post-detail-div-right-topics-list-item">Life Style</div>
                <div class="post-detail-div-right-topics-list-item">Womens in Bundestag</div>
            </div>
        </div>

        <div class="post-detail-div-right-new-feeds">
            <div class="post-detail-div-right-new-feeds-head">New Feeds</div>

            <div class="post-detail-div-right-new-feeds-list">
                <div class="post-detail-div-right-new-feeds-list-img" style="background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/418e5cfcbc765e8a82aafffd/pexels-photo-2008426.jpeg?version=);"></div>
                <p class="post-detail-div-right-new-feeds-list-p" >Future of Ai</p>
                           
            </div>
            <div class="post-detail-div-right-new-feeds-list">
                <div class="post-detail-div-right-new-feeds-list-img" style="background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/418e5cfcbc765e8a82aafffd/pexels-photo-2008426.jpeg?version=);"></div>
                <p class="post-detail-div-right-new-feeds-list-p" >Future of Ai</p>
                           
            </div>
        </div>
    </div>

  

</div>

{% endblock %}