{%extends 'base.html'%} 
{% load static %}
{% block content %}

<div class="post-div">

    <div class="card">
        <div class="card-image" style="background-image: url(https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/418e5cfcbc765e8a82aafffd/pexels-photo-2008426.jpeg?version=);"></div>
        <div class="card-text">
            <h3>Head Line</h3>
            <p> Fri Jun 2021 |Comments | Likes</p>
            <a> Read More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image" style="background-image: url(https://images02.nicepage.io/a1389d7bc73adea1e1c1fb7e/cafc6d9ce7f55817832f1816/pexels-photo-3104234.jpeg);"></div>
        <div class="card-text">
            <h3>Head Line</h3>
            <p> Fri Jun 2021 |Comments | Likes</p>
            <a> Read More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image" style="background-image: url(https://images02.nicepage.io/a1389d7bc73adea1e1c1fb7e/4ded0426444e5d338ad04647/pexels-photo-3193889.jpeg?version=);"></div>
        <div class="card-text">
            <h3>Head Line</h3>
            <p> Fri Jun 2021 |Comments | Likes</p>
            <a> Read More</a>
        </div>
    </div>


</div>
{% endblock %}